/* CSS FORMATS */

element_Tag 
{
  color: gray;
}

/* CSS ID */
#id_Tag 
{
  color: gray;
}

/* CSS CLASS */
.class_Tag 
{
  color: gray;
}

/* CSS ATTRIBUTE */
[attribute_Tag] 
{
  color: gray;
}

/* CSS Pseudo-Classes */ /* ASK GPT */
element_Tag:pseudo-class 
{
  color: gray;
}

/* CSS Pseudo-Elements */ /* ASK GPT */
element_Tag::pseudo-element 
{
  color: gray;
}

/* CSS Combinators */ /* ASK GPT */
element_Tag element_Tag 
{
  color: gray;
}

/* CSS Grouping */ /* ASK GPT */
element_Tag, element_Tag 
{
  color: gray;
}


/* CSS TEXT FONTS */

element_tag
{
  font-size: 20px; /* SETS THE TEXT FONT SIZE TO 20PX */
  font-family: Arial, sans-serif; /* SETS THE TEXT FONT FAMILY TO ARIAL,THE FIRST IS THE ONE I WANT, THE SECOND PARAMTER IS A GENERIC ONE INCASE THE PRIMARY ONE IS NOT SUPPORTED ON THE DISPLAYING PC. */
  font-weight: bold / noram / RELATIVE TO A PARENT / NUMBER (100-900);/* SETS THE TEXT FONT TO BOLD OR NORAML/RELATIVE / NUM RANGE.*/
  text-align: center / left / right / justify; /* SETS THE TEXT ALIGNMENT TO CENTER / LEFT / RIGHT / /*  */
}


/* LINK TO GOOGLE FONTS */
https://fonts.google.com/

/*  
1) PRESS THE SELECT BUTTON ON THE FONT YOU WANT
2) PRESS THE GET EMBED CODE BUTTON
3) COPY THE CODE TO THE HTML HEAD TAG.(יש הסבר במצגת עזר עצמית במודל)


/* INSPECT MODE SHORTCUT */
/* 
 1) TO OPEN THE ENTIRE INSPECT MODE - PRESS F12
 2) TO INSPECT A SPECIFIC ELEMENT - RIGHT CLICK ON THE ELEMENT AND PRESS INSPECT.
    i) IT WILL OPEN THE INSPECT MODE AND HIGHLIGHT THE ELEMENT I RIGHT CLICKED ON.
 3) TO SELECT A SPECIFC ELEMENT TO INSPECT I NEED TO CLICK ON THE SELECT BUTTON ON THE TOP LEFT OF THE INSPECT MODE.
    i) THEN I NEED TO HOVER OVER THE ELEMENT I WANT TO INSPECT AND CLICK ON IT.
    ii) IT WILL HIGHLIGHT THE ELEMENT I CLICKED ON IN THE INSPECT MODE.
*/

/* INSPECT MODE USAGE INSTRUCTIONS */
/* 
1) ANY CHANGES MADE IN THE CHROME INSPECT MODE WILL NOT IMPACT THE VS CODE. 
*/


/* THE BOX MODEL */
/* 1) each element is a box. */
/* 2) the box model is a box that wraps around every html element. */

/* CHANGING THE BORDER STYLE */
border: para1_thicknessOfBorder_10px para2_styleOfBorder_solid/dashedline para3_color;
border-top: 0px /* the top of the box will have no border.*/
border-width: para1_px para2_px para3_px para4_px; /* setting the border width for each side of the box clock wide, para1 is 12:00 */
border-width: para1_0px para2_20px; /* setting the border width for each side of the box clock wide, this syntax will set top and bottom to 0px, and left and right to 20px  */


/* PADDING */
padding:20px; /* pushes the border out of the box by 20px on all sides, the elements height and width inside the box will not change. */

/* MARGIN */
margin:10px; /* adds a 10px gap between any elements on the screen and the box from all directions, the elements height and width inside the box will not change. */





/* Making an object take the whole width of the screen */
width: 10%;

/* ORDER OF STYLING HIERARCHY, 1 IS THE MOST IMPORTANT, THEN 2... etc..*/
/* given the line of code below */
/**********************************************************/
<li id="first-id" class="first-class" draggable>First </li>
/**********************************************************/
1) #first-id {color:orange;} /* THE MOST IMPORTANT */
2) li[draggable] {color: blue;} /* 2AND MOST IMPORTANT */
3) .first-class {color:red;} /* 3RD MOST IMPORTANT */
4) li{color:green}  /* 4TH MOST IMPORTANT */



/* SELECTORS */
/* APLLYING THE SAME CSS DESIGN TO MULTIPLE HTML TAGS */
h1,h2,#logo,.menu
{
  color: blue
}


/* DIRECT CHILD SELECTOR */
/* EXAMPLE */
ul > li
{
  color: blue; /* will change the color of the li to blue. */
}
parentTag > childOfParentTag
{
  color: blue; /* will change the color of li to blue. */
}

/* CHAINING MULTIPLE CONSTRAINT SELECTOR */
<h1 class="className" id="idName">Hello World</h1>
h1.className#idName
{
  color: blue; /* will change the color of the h1 to blue. */
}
/* html code example */


/* POSITIONING */

/* THERE ARE 4 POSITIONING STATIC / RELATIVE / ABSOLUTE / FIXED */

/* STATIC POSITION */
 /* STATIC IS THE DEFAULT OF EVERY ELEMENT. */
 position:static
 left:50px; /* WILL NOT WORK */
 top:50px; /* WILL NOT WORK */

 /* RELATIVE POSITION */
 /* RELATIVE ITEM IS BEING LOCATED RELATIVE TO ITS DEFAULT POSITION BASED(AKA THE STATIC) BUT I CAN CHANGE BASED ON THE RIGHT/LEFT/TOP/BOTTOM VALUES WE WILL GIVE HIM.*/
 position: relative;
 left:50px; /* MOVES THE ELEMENT 50PX TO THE RIGHT */
 top:50px; /* MOVES THE ELEMENT 50PX DOWNWARDS */


 /* ABSOLUTE POSITIONING  */
/* POSITION RELATIVE TO NEAREST POSITIONED ANCESTOR(AKA AN ELEMENT WHICH HAS FATHER/GRAND/GRANDGRA.. WITH POSITION:RELATIVE ), OR TOP LEFT CORNER OF THE WEBPAGE. */


/* Z INDEX */

/* Z INDEX IS USED TO CONTROL WHAT ELEMENT WILL BET SET ABOVE THE OTHER 
IF(ELEMENT1 Z INDEX > ELEMENT2 Z INDEX) ---> THEN ELEMENT1 WILL BE ABOVE ELEMENT2
*/

/*FIXED POSITION */
/* POSITION RELATIVE TO TOP LEFT CORNER OF BROWSER WINDOW */
position: fixed; /* DOSENT MATTER IF WE SCROLL OR NOT IT WILL STICK TO ITS POSITION AT THE LEFT MOST CORNER OF THE BROWSER WINDOS.*/

/* CREATING A CIRCLE */
border-radius: 50%; /* MAKES THE ELEMENT A CIRCLE */


/* SPAN  */
<p>hello<span>beatuiful</span>world</p>


/* DISPLAY:BLOCK / INLINE / INLINE BLOCK / GRID / FLEX */

/* DISPLAY:BLOCK */
/*
1) allows to set height and width.
2) aligns elements in a row.
3) and if we have another element it will start from a new line.
*/

/* DISPLAY INLINE */
/* IT WILL TAKE ONLY THE WIDTH OF THE TEXT ITSELF AND WILL NOT TAKE THE ENTIRE WIDTH OF THE SCREEN */
/* can't set the size of the width and the height, it is auto sized itself based on the text length. */

/* DISPLAY NONE */
/* MAKES ANY ELEMENT ON THE SCREEN DISSAPPEAR
   USED FOR EXAMPLE TO MAKE A DROPDOWN MENU DISAPPEAR WHEN THE USER CLICKS ON IT. */

/* DISPLAY INLINE BLOCK 
1) allows to set height and width.
2) aligns elements in a row.
3) if the width of the screen is over it will enter a new line.
*/

/* DISPLAY GRID  */
DISPLAY: GRID /* allows to use the system of css for the layout, good for 2 dimennsions layout, aka the entire web layout, rowns and columns */
<div class = "grid-container">
<div class = "first card"></div>
  <div class = "card">1</div>
  <div class = "card">2</div>
  <div class = "card">3</div>
  <div class = "card">4</div>
</div>

.grid-container
{
  display: grid; /* allows to use the system of css for the layout */
  grid-template-columns: 1fr 1fr /* 2 colums, both the same size, devids the screen into 2 columns*/
  grid-template-rows: 100px 200x 200x; /* first row is 100px height, second row 200px and third row 200px */
  grid-gap: 10px; /* 10px gap between each row and column */
}

.first card
{
  grid-column:span 2; /* will make the first card to be at width of 2 columns */
}

/************************************************************************************** FLEX BOX *****************************************************************************************/

/* FLEX BOX SYSTEM OF CSS */
/* 
1) allows me to set the layout of the page in a one dimentional way, aka row or column using the css layout system.
   ****good for navbars, footers, headers, etc****...
*/

<div class = "flex-container">
  <div class = "first card"></div>
  <div class = "second card"></div>
  <div class = "card"></div>
  <div class = "card"></div>
</div>


.flex-container {
  display:flex  /* allows me to set the layout of the page in a one dimentional way, aka row or column using the css layout system.(its a row by default), the width on each element inside the flexbox gonna be in the size of its content, any other element will be on a new line. */
  flex-direction: column; /* will make the elements in the flex container to be in a column */
  gap: 10px; /* 10px gap between each element in the flex container */
}
.card {
  background-color: lightblue;
  border: 30px solid white;
  height: 100px;
  flex:1;
}

.first {
  flex:2;
}

.second {
  flex: 0.5;
}

/* DISPLAY: INLINE-FLEX */
/* SAME AS FLEX BUT THE ELEMENTS WILL BE INLINE, AKA OTHER ELEMENTS CAN BE ADDED AND SHARE THE SAME LINE*/

/* ORDER
1) i can set an order property on a flex item to change the order of the items in the flex container.
*/
 /* FLEX-WRAP
 1) i can set the flex-wrap property on a flex container to control the wrapping of flex items, when i run out of space on the horizontal or vertical axis it wont go onto the next line.
 */
/* FLEX- NOWRAP
   1) i can set the flex-wrap property on a flex container to control the wrapping of flex items, when i run out of space on the horizontal or vertical axis it will go onto the next line.
 */


/* FLOAT:RIGHT  */
/*setting the image to float:right / left / MAKE THE TEXT WRAP AROUND THE IMAGE, ITS ACTULLY WORKS ON THE TEXT AND NOT THE IMAGE IT SELF.
 will make the text wrap around the image from the left side or the right side.
 1) to make sure other text in our page will not be affected by the image we need to set clear:left/right/both; to the text we want to be below the image and not float around it. */
 

 /* RESPONSIVE TO DIFFERENT SCREENSIZE 
 can be achived by using one of the following: 
 1) media queries
 2) css grid
 3) css flexbox
 4) external frameworks e.g. Bootstrap.
 

/* MEDIA QUERIES */
@media(max-width:600px)
{
  /* css for screens below or equal to 600px wide
  1) any screen below 600px will have the css properties below.
  2) SIZED: 
      i) mobile devices: 319px - 480px
      ii) tablets and ipads : 481px - 1200px
      iii) laptops: 1201px - 1600px
      iiii) desktops: 1601px and more..
  */
}

 /* JAVA SCRIPT */
 /* 1) TO SUM UP HOISTING */
 /* 2) TO SUM FOR FOR(OF) */
 /* 3) TO SUME DOLLAR SYNTAX */
 /* 4) WE WILL RARELY USE SYMBOL
    5) CAN WE DEFINE MANY CSS FOR EACH FLEX ITEM AKA HEADER/FOOTER/BODY/HERO ETC...
    6) TO CONNECT STRING WE WILL USE THE ` ${} SYNTAX NOTATION, NOT THE + OPERATOR.

*/
 
