/* CSS FORMATS */

element_Tag 
{
  color: gray;
}

/* CSS ID */
#id_Tag 
{
  color: gray;
}

/* CSS CLASS */
.class_Tag 
{
  color: gray;
}

/* CSS ATTRIBUTE */
[attribute_Tag] 
{
  color: gray;
}

/* CSS Pseudo-Classes */ /* ASK GPT */
element_Tag:pseudo-class 
{
  color: gray;
}

/* CSS Pseudo-Elements */ /* ASK GPT */
element_Tag::pseudo-element 
{
  color: gray;
}

/* CSS Combinators */ /* ASK GPT */
element_Tag element_Tag 
{
  color: gray;
}

/* CSS Grouping */ /* ASK GPT */
element_Tag, element_Tag 
{
  color: gray;
}


/* CSS TEXT FONTS */

element_tag
{
  font-size: 20px; /* SETS THE TEXT FONT SIZE TO 20PX */
  font-family: Arial, sans-serif; /* SETS THE TEXT FONT FAMILY TO ARIAL,THE FIRST IS THE ONE I WANT, THE SECOND PARAMTER IS A GENERIC ONE INCASE THE PRIMARY ONE IS NOT SUPPORTED ON THE DISPLAYING PC. */
  font-weight: bold / noram / RELATIVE TO A PARENT / NUMBER (100-900);/* SETS THE TEXT FONT TO BOLD OR NORAML/RELATIVE / NUM RANGE.*/
  text-align: center / left / right / justify; /* SETS THE TEXT ALIGNMENT TO CENTER / LEFT / RIGHT / /*  */
}


/* LINK TO GOOGLE FONTS */
https://fonts.google.com/

/*  
1) PRESS THE SELECT BUTTON ON THE FONT YOU WANT
2) PRESS THE GET EMBED CODE BUTTON
3) COPY THE CODE TO THE HTML HEAD TAG.(יש הסבר במצגת עזר עצמית במודל)


/* INSPECT MODE SHORTCUT */
/* 
 1) TO OPEN THE ENTIRE INSPECT MODE - PRESS F12
 2) TO INSPECT A SPECIFIC ELEMENT - RIGHT CLICK ON THE ELEMENT AND PRESS INSPECT.
    i) IT WILL OPEN THE INSPECT MODE AND HIGHLIGHT THE ELEMENT I RIGHT CLICKED ON.
 3) TO SELECT A SPECIFC ELEMENT TO INSPECT I NEED TO CLICK ON THE SELECT BUTTON ON THE TOP LEFT OF THE INSPECT MODE.
    i) THEN I NEED TO HOVER OVER THE ELEMENT I WANT TO INSPECT AND CLICK ON IT.
    ii) IT WILL HIGHLIGHT THE ELEMENT I CLICKED ON IN THE INSPECT MODE.
*/